body {
  margin: 0px;
}

/* enter、 leave アニメーションで異なる間隔やタイミング関数を利用することができます */

.slide-fade-enter-active {
  transition: opacity 1s;
}

.slide-fade-leave-active {
  transition: opacity 1s;
  position: absolute;
}

.slide-fade-enter, .slide-fade-leave-to{
/* .slide-fade-leave-active below version 2.1.8 */
  opacity: 0;
}

#lifeBar {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  height: 13px;
  vertical-align: -0.2em;
  border-radius: 6px;
  border: 2px solid;
}

#lifeBar::-webkit-progress-bar {
  background: #bbb;
  border: solid 1px;
  border-radius: 6px;
}

#lifeBar::-webkit-progress-value {
  background-color: #EFF;
    border-radius: 6px;
}

ul {
  list-style: none;
  padding-left: 0;
}
